/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Garet',sans-serif;
    scroll-behavior: smooth;
}

/* Menu lateral direito*/
.menu-container {
    position: fixed;
    right: -140px;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 250px;
    z-index: 1000;
}

/* Menu escondido */
.side-menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background: #fff;
    padding: 20px;
    border-radius: 30px 0 0 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    transition: right 0.4s ease;
    animation: menuPeek 1.5s ease;
}

.menu-container:hover .side-menu {
    right: 140px;
}

.side-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.side-menu a {
    text-decoration: none;
    color: #333;
    font-size: 12px;
}
@keyframes menuPeek {
    0% {
        right: 0;
    }

    35% {
        right: 100px;
    }

    55% {
        right: 100px;
    }

    100% {
        right: 0;
    }
}


/* Seções Gerais */
section {
    padding: 80px 10%;
    min-height: 100vh;
}

.section-light { background-color: #f4f4f4; }
.section-gray { background-color: #e0e0e0; }
.section-dark { background-color: #0a0a0a; color: white; }

/* Layout de Duas Colunas (Sobre Mim) */
.split-columns {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}
.split-columns .column { flex: 1; }

/* Contato Flexbox */
.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}


.contact-form { flex: 1; }
.contact-info { flex: 1; }
